<header class="homebanner">

			<h1 class="homebannertext">
				{{title}}
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<h4>Welcome to {{title}} chat application<h4>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>
		</div>
	</section>